*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background: #f1f1f1;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 135%;
}

h2{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500px;
}


#container{
	width: 1000px;
	margin:0 auto;
}
#blog-post-container{
	width: 75%;	
	float: left;
}

#other-posts{
	width: 25%;	
	float: left;
	padding-left: 20px;
}

/*#author-box
{
	
}*/

.box{
	background: white;
	margin-bottom: 15px;
	border-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px ;
    box-shadow: opx 2px 8px 2px rgba(20,23,28,.15);
}
.blog-title{
	font-weight: 700;

}
.blog-title a{
	color: #444;
	text-decoration: none;
	transition: color 0.3s;
}
.blog-title a:hover{
	color: palevioletred;

}


.blog-post{
	position: relative;
	

}
.p-20{
	padding: 20px;
}

.blog-post img{
	width: 100%;
	border-top-left-radius: 5px;
	transition: opacity 0.3s linear;
}
.blog-post img:hover{
	opacity: 0.8;
	cursor: pointer;
}

.date{
	position: absolute;
	right:20px;
    bottom: 20px;
    color:#aaa;
    font-size: 12px;
}

.blog-text{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #aaa;
    line-height: 22px;
    text-align: justify;
}
li{
	list-style: none;
}

.tags li{
	list-style: none;
	display: inline;
	margin-right: 5px;
}

.tags li a{
	text-decoration: none;
}

#author-box{
	border-top: 1px solid RGB(0,0,0,.125);
	padding-top: 10px;
}


#author-box img{
	border-radius: 50%;
	float: left;
}

.author-text{
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}
#share a{
    color: #aaa;
    text-decoration: none;
    margin-right: 7px;
    opacity: 0.6;
}
#share a :hover{
    opacity: 0.9;
}
.tags ul{
	list-style-type: none;
}
.tags ul li{
	margin-bottom: 10px;
}
.header{
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom:1px solid rgb(0,0,0,0.2) ;
}
.tag{
	background-color: black;
	color: white;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	border-radius: 3px;
}
.btn{
	display: inline-block;
	font-size: 10px;
	padding: 5px 10px;
	margin-top:10px;
	border-radius: 4px;
	color: white;
	background-color: palevioletred;
	text-transform: uppercase;
	cursor: pointer;
	border: 1px solid transparent ;
	transition: background-color 0.3s linear;

}
.btn:hover{
	background-color: turquoise;
	border-color: black;

}
.mt20{
	margin-top: 20px;
}
/* NAVBAR */

#nav{
	background-color: black;
}
#nav ul{
	list-style-type: none;
	overflow: hidden;
}
#nav li{
	float: left;
}
#nav li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: background-color 0.3s linear;
}
#nav li a:hover {
	background-color: grey;

}
.active{
	background-color: red;

}
